.rounded{
    border-radius: 10px;
}
.border{
    border: 2px solid red;
}
.flex{
    display: flex;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: #0f0f0f;
}


::-webkit-scrollbar-thumb {
  background: #2e2e2e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
